flask
typing_extensions
torch
ipython
scipy
packaging
phonemizer
unidecode
inflect
pyworld
librosa
matplotlib
pymongo
python-dotenv
google-api-core
google-auth
google-cloud-core
google-cloud-storage
nemo_toolkit[all]